<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Hello</title>
   
</head>

<body style="border:0px;padding:0px;margin:0px">

<h1>hello! "${value}"</h1>

</body>

</html>